<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book</title>
    <link rel="stylesheet" href="/public/style/modules.css">
</head>
<body>
    <header>Book Search</header>
    <form action="">By Title
        <input type="radio" name="book" value="title"><br />
        By Author
  <input type="radio" name="book" value="author">
  <br><br>
  <input type="submit" value="Submit">
    </form>
</body>
</html>

